@import "tailwindcss";

@font-face {
  font-family: 'PP Telegraf';
  src: url('/fonts/PPTelegraf-Regular-BF6417cecb5d571.otf') format('opentype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Telegraf';
  src: url('/fonts/PPTelegraf-RegularOblique-BF6417cecb668c7.otf') format('opentype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sans: "PP Telegraf", "Space Grotesk", "Outfit", "Inter", sans-serif;
  --color-brand-purple: #5B1BBF;
  --color-brand-indigo: #4f46e5;
  --color-brand-dark: #111827;
  --color-brand-light: #f3f4f6;
  --color-brand-gradient-start: #5B1BBF;
  --color-brand-gradient-end: #4f46e5;
}

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}